//colours
$color-black: #000;
$color-white: #fff;

$color-dark-grey: #7d7d7d;
$color-grey: #e5e5e5;
$color-light-grey: #f3f3f3;

//font
$font-family: 'Libre Baskerville', serif;

//responsive
$mq-tablet: 768px;
$mq-laptop: 1280px;
$mq-desktop: 1440px;
